/* Secondary headings, subtle accents -- #d1756b */
/* Main page background -- #f7f5f4 */
/* Borders, secondary text, hover effects -- #c29996 */
/* Main accents, links, important headings -- #de533e */
/* Main background, header, footer -- #282e42 */

.main_heading {
    color: #de533e;
}

body {
    font-family: Arial, sans-serif;
    font-size: medium;
}

.bio {
    color: #d1756b;
}

footer {
    color: #d1756b;
    background-color: #282e42;
}

a:hover {

    color: #de533e;

}
a:visited {
    color: #d1756b;
}

img {
  padding: 10px;
  margin: 15px;
  border: 10px solid #88C0D0;
}

#meme{
    opacity: 0.8;
}
