/* #d1756b */
/* #f7f5f4 */
/* #c29996 */
/* #de533e */
/* #282e42 */

.main_heading {
    color: #de533e;
}

body {
    font-family: Arial, sans-serif;
    font-size: medium;
}

.bio {
    color: #d1756b;
}

footer {
    color: #d1756b;
    background-color: #282e42;
}

a:hover {

    color: #de533e;

}
a:visited {
    color: #d1756b;
}

img {
  padding: 10px;
  margin: 15px;
  border: 10px solid #c29996;
}

#meme{
    opacity: 0.8;
    border: 10px solid #f7f5f4;
}
